body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #8e82de, #db4ff4);
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    margin: auto; /* Центрируем хедер по горизонтали */
    max-width: 1200px;
    padding: 20px;
    text-align: left;
    margin-top: auto; /* Опускаем хедер вниз */
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1rem;
    color: #191919;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #111111;
    font-weight: bold;
}

header nav ul li a {

    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

header nav ul li a:hover {
    color: #f10303 !important;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.contact-info,
.contact-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 1200px;
    margin: auto; /* Центрирование по горизонтали */
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0; /* Размещение футера внизу страницы */
    left: 0;
    right: 0;
    width: 90%; /* Ширина футера */
}